In [1]:
a = 10
print(a)

10

In [8]:
a = 10
b = 20
sum(a+b)
print(a+b)

TypeError: 'int' object is not iterable

In [3]:
a = 10
b = 20
c=10
print(a,b,c)

10 20 10

In [9]:
int=10
int=20
print(a,b)

10 20

In [10]:
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

In [11]:
a=10
b=20
c=a+b
d=a-b
print(c)
print(d)

30
-10

In [12]:
a=20
b=22
c=a**b
print(c)

41943040000000000000000000000

In [14]:
a=10
b=20
c=a%b
d=a//b
print(c)
print(d)

10
0

In [22]:
a=5
b=2
c=a/b
print(c)

2.5

In [23]:
a='hello world'
print(a*2)

hello worldhello world

In [24]:
a='sorry'
print(a*111)

sorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorrysorry

In [33]:
p=2000
t=10
r=20
i=p*t*r/100
print('oe aashutosh',i,'paisa ley xitoo' )

oe aashutosh 4000.0 paisa ley xitoo

In [ ]:
p=int(input("Enter p="))
t=float(input("Enter t="))
r=float(input("Enter r="))
i=p*t*r/100
print("the value of i=",i)

In [4]:
name=input("Enter name=")
age=int(input("Enter age="))
add=input("Enter add=")
info="hello world i am "+ name +" i am from"+add+" i am "+str(age)
print(info)

Enter name=Rabin
Enter age=25
Enter add=kathmandu
hello world i am Rabin i am fromkathmandu i am 25

In [8]:
name = input ("Enter name =")
physics = int(input("Enter physics marks="))
chemistry = int(input("Enter chemistry marks="))
math = int(input("Enter math marks="))
nepali = int(input("Enter nepali marks="))
total=physics + chemistry + math + nepali
per = total/4
print("Your name =",name)
print("Total marks =",total)
print("Percentage =",per,"%")

Enter name =rabin
Enter physics marks=90
Enter chemistry marks=80
Enter math marks=70
Enter nepali marks=50
Your name = rabin
Total marks = 290
Percentage = 72.5 %

In [2]:
if<condition>:
    <operations>
elif <condition>:
    <operation>
#else:
#    <operation>

SyntaxError: invalid syntax (2047496985.py, line 1)

In [2]:
a = int(input("Enter a = "))
    if (a%2 ==0):
        print(a, "is even no.")
    else:
        print(a, "is odd no.")

IndentationError: unexpected indent (3039806407.py, line 2)

In [ ]:
a = int(input("Enter a="))
if(a%2==0):
    print(a,"is +ve.")
else:
    print(a,"is -ve.")

In [ ]:
a = int(input("Enter a ="))
b = int(input("Enter b ="))
if a>b:
    print("a is greater")
elif b>a:
    print("b is greater")
else:
    print("a and b both are equall")

In [4]:
name = input ("Enter name =")
physics = int(input("Enter physics marks="))
chemistry = int(input("Enter chemistry marks="))
math = int(input("Enter math marks="))
nepali = int(input("Enter nepali marks="))
total=physics + chemistry + math + nepali
per = total/4
 
if per >= 80:
    grade = "A"
elif per >= 60:
    grade = "B"
elif per>= 45:
    grade = "C"
else:
    grade = "F"
print("grade =",grade)
print("Your name =",name)
print("Total marks =",total)
print("Percentage =",per,"%")

Enter name =rabin
Enter physics marks=90
Enter chemistry marks=80
Enter math marks=75
Enter nepali marks=70
grade = B
Your name = rabin
Total marks = 315
Percentage = 78.75 %

In [20]:
a=int(input("Enter a="))
b=int(input("Enter b="))
o=input("Enter + or - or * or /")
if o =="+":
    print(a+b)
elif o=="-":
    print(a-b)
elif o=="*":
    print(a*b)
elif o=="/" and b!=0:
    print(a/b)
elif o=="/" and b == 0:
        print("the value of b can not ne zero.")
else:
    print("Enter valid operator")

Enter a=4
Enter b=0
Enter + or - or * or /+
4

In [16]:
#and
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [18]:
#or
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [23]:
address =( input("Enter address= "))
age = int(input("Enter age="))
if ( address=="kathmandu")or age>20:
          print("welcome to you")
else:
          print("sorry")

Enter address= kathmandu
Enter age=19
welcome to you

In [24]:
for i in range(1,5):
    print(i,"hello world")

1 hello world
2 hello world
3 hello world
4 hello world

In [26]:
for i in range(1,20,2):
    print(i,"hello world")

1 hello world
3 hello world
5 hello world
7 hello world
9 hello world
11 hello world
13 hello world
15 hello world
17 hello world
19 hello world

In [28]:
n=int(input("Enter n="))
for i in range(1,11):
    print(i*n)

Enter n=2
2
4
6
8
10
12
14
16
18
20

In [29]:
n=int(input("Enter n="))
for i in range(1,11):
    print(n,"*",i,"=",i*n)

Enter n=2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [30]:
s = 0
n = int(input("Enter n="))
for i in range(n):
    x = int(input("Enter x = "))
    s = s + x
    print(s)

Enter n=2
Enter x = 345
345
Enter x = 343
688

In [11]:
s = str()
n = int(input("Enter n="))
for i in range(n):
    x = int(input("Enter x = "))
2    s = s + x + "\n"
    print(s)

SyntaxError: invalid syntax (2909490102.py, line 5)

In [8]:
s = str()
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter x = ")
    phone = input("Enter phone= ")
    address = input("Enter address=")
    s = s + name + address + phone + "\n"

Enter n =2
Enter x = ram
Enter phone= 9191991919
Enter address=maklal
Enter x = shyam
Enter phone= 99929292929
Enter address=bootcamp

In [3]:
# 5! = 1*2*3*4*5
fac = 1
n = int(input("Enter n="))
for i in range (1,n+1):
    fac = fac*i
print(fac)

Enter n=7
5040

In [5]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [9]:
 a ="Python"
 for i in a:
  print(i, end="")

Python

In [11]:
a = "i am mr aditya"
for i in a:
    print(i)

i

a
m

m
r

a
d
i
t
y
a

In [16]:
a = "sorry"
for i in a:
    print(i,end="")

sorry

In [ ]:
#control statement

In [17]:
#break
#continue

In [21]:
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [24]:
a= "hello world. i am python."
for i in a:
    if i ==".":
        break
    print(i,end="")

hello world

In [28]:
for i in range(10):
    if i==5:
        continue
    print(i, end = " ")

0 1 2 3 4 6 7 8 9

In [30]:
a = "hello world. i am python."
for i in a:
    if i == ".":
        continue 
    print(i, end ="")

hello world i am python

In [43]:
#for else loop
n = int(input("Enter n ="))
for i in range(2,n):
    if n%i==0:
        print("This is composite no.")
        break
else:
        print("This is prime no.")

Enter n =10
This is composite no.

In [44]:
#while loop
#while<condition>:
#   <operations>

In [3]:
a=5
while a>0:
    print(a,"this is bigger")
    a= a-1

5 this is bigger
4 this is bigger
3 this is bigger
2 this is bigger
1 this is bigger

In [2]:
i=1
n=int(input("Enter n="))
while i<=10:
    print(n,"*",i,"=",i*n)
    i=i+1

Enter n=9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [ ]:
i=0
s = str()
n = int(input("Enter n ="))
while i<n:
    name = input("Enter x = ")
    phone = input("Enter phone= ")
    address = input("Enter address=")
    s = s + name + address + phone + "\n"
    i=i+1
print(s)

Enter n =10
Enter x = ram
Enter phone= 91919191
Enter address=makal
Enter x = shyam
Enter phone= 19188181
Enter address=hahahha

In [2]:
fac =1
i = 1
n=int(input("Enter n="))
while i<n:
    fac=fac*i
    i=i+1
print(fac)

Enter n=10
362880

In [5]:
#while loop with break 
i=0 
while i<10:
        if i==5:
            break
        print(i)
        i=i+1

0
1
2
3
4

In [3]:
i=0 
while i<10:
        if i==5:
            i=i+1
            continue
        print(i)
        i=i+1

0
1
2
3
4
6
7
8
9

In [6]:
a="python"
print(a[::-1])

nohtyp

In [7]:
a="python"
l=len(a)
for i in range(l):
    print(a[i],end="")

python

In [9]:
i=0
a="python"
l=len(a)
while i<l:
    print(a[i],end="")
    i=i+1

python

In [ ]:
#WAP to create a billing system
#name=?
#price=?
#qty=?
#total=?
info=""
all_total=0
n=int(input("Enter n="))
for i in range(n):
    name= input("Enter name=")
    price= int(input("Enter price="))
    quantity=int(input("Enter quantity="))
    total= price*quantity
    info=info+f"{name} {price} {quantity} {total}\n"
    all_total=all_total+total
    print(info)
    print("all_total=",all_total)

Enter n=3
Enter name=momo
Enter price=100
Enter quantity=20
momo 100 20 2000

all_total= 2000
Enter name=chowi
Enter price=200
Enter quantity=20
momo 100 20 2000
chowi 200 20 4000

all_total= 6000