In [1]:
# python collection 
# list
# tuple
# dict
# set

In [2]:
# list
# -indexing
# - ordered
# -multiple and duplicate data
# -mutable

In [3]:
# l = list()
l = [1,2,3,4,5,6,7,8,9,10]
a = ["apple","ball","cat","dog","fish"]
print(type(l))
print(type(a))

<class 'list'>
<class 'list'>

In [5]:
a = ["apple","ball","cat","dog","fish"]
print(a[0])
print(a[0:5])
print(a[0:5:2])

apple
['apple', 'ball', 'cat', 'dog', 'fish']
['apple', 'cat', 'fish']

In [6]:
a = ["apple","ball","cat","dog","fish"]
print(len(a))

5

In [7]:
a = ["apple","ball","cat","dog","fish"]
print(a*2)

['apple', 'ball', 'cat', 'dog', 'fish', 'apple', 'ball', 'cat', 'dog', 'fish']

In [9]:
a = ["apple","ball","cat","dog","fish"]
for i in a:
    print(i)

apple
ball
cat
dog
fish

In [15]:
# append() insert() extend()
a = []
a.append("apple")
a.append("ball")
a

['apple', 'ball']

In [16]:
# insert()
a = ["apple","ball","cat","dog","fish"]
a.insert(1,"bat")
a

['apple', 'bat', 'ball', 'cat', 'dog', 'fish']

In [17]:
# extend()
a = ["apple","ball","cat","dog","fish"]
b = [1,2,3]
a.extend(b)
print(a)

['apple', 'ball', 'cat', 'dog', 'fish', 1, 2, 3]

In [19]:
l = []
n= int(input("Enter n ="))
for i in range(n):
    x = int(input("Enter x ="))
    l.append(x)
print(l)

Enter n =3
Enter x =12
Enter x =14
Enter x =15
[12, 14, 15]

In [20]:
print("max value=",max(l))

max value= 15

In [25]:
a = [ "apple","fish","ball","cat","dog","egg"]
a.sort()
a

['apple', 'ball', 'cat', 'dog', 'egg', 'fish']

In [31]:
a = [ "apple","fish","ball","cat","dog","egg"]
a[0:2]= ["BALL","CAT"]
a

['BALL', 'CAT', 'ball', 'cat', 'dog', 'egg']

In [30]:
a = [ "apple","fish","ball","cat","dog","egg"]
a[0:2] = ["BALL","CAT"]
a

['BALL', 'CAT', 'ball', 'cat', 'dog', 'egg']

In [32]:
# delete
# del() remove() pop()
a = [ "apple","fish","ball","cat","dog","egg"]
del a[0]
a

['fish', 'ball', 'cat', 'dog', 'egg']

In [38]:
a =["ball","cat"]
a.remove("ball")
a

['cat']

In [39]:
#pop()
a = ["apple","fish","ball","cat","dog","egg"]
b = a.pop(0)
print(a)
print(b)

['fish', 'ball', 'cat', 'dog', 'egg']
apple

In [43]:
a = [ "apple","fish","ball","cat","dog","egg"]
a.clear()
a

[]

In [11]:
l=[]
n= int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    age=int(input("Enter age="))
    add=input("Enter add=")
    l.append([name,age,add])
    
    
print(l)

Enter n=2
Enter name=rabin
Enter age=29
Enter add=22
Enter name=rabin
Enter age=22
Enter add=28
[['rabin', 29, '22'], ['rabin', 22, '28']]

In [24]:
a=[["ram",34,"kathmandu"],
 ["shyam",45,"bhaktapuar"],
 ["hari",34,"lalitpur"]]
a

[['ram', 34, 'kathmandu'],
 ['shyam', 45, 'bhaktapuar'],
 ['hari', 34, 'lalitpur']]

In [21]:
# search 
a = [['ram',34,'kathmandu'],
    ['shyam',45,'bhaktapur'],
    ['hari',34,'lalitpur']]
name = input("Enter name=")
for i in a:
    if name in i:
        print(i)

Enter name=ram
['ram', 34, 'kathmandu']

In [25]:
a = [['ram',34,'kathmandu'],
    ['shyam',45,'bhaktapur'],
    ['hari',34,'lalitpur']]
#add=input("Enter add=")
a[0][2]= input("Enter add=")
a

Enter add=jhapa

[['ram', 34, 'jhapa'], ['shyam', 45, 'bhaktapur'], ['hari', 34, 'lalitpur']]