In [1]:
#tuple
# Indexing
# ordered
# multiple and dupilcate data
# Imuabale

In [4]:
a = (1,2,3,4)
b= ("apple","ball","cat","dog")
print(a)
print(b)
print(type(a))
print(type(b))

(1, 2, 3, 4)
('apple', 'ball', 'cat', 'dog')
<class 'tuple'>
<class 'tuple'>

In [5]:
b=("apple","ball","cat","dog")
print(b[0])

apple

In [6]:
#no append()extend()insert()
#no update 
#no del()pop()remove()
#no sort

In [8]:
a=("apple","ball")
type(a)

tuple

In [9]:
a=(1,2,3)
b=(4,5,6)
c= a+b
print(c)

(1, 2, 3, 4, 5, 6)

In [10]:
a=(1,2,3)
print(a*2)

(1, 2, 3, 1, 2, 3)

In [17]:
a=()
n= int(input("Enter = "))
for i in range(n):
    x=int(input("Enter x="))
    a=a+(x,)
print(a)

Enter = 3
Enter x=1
Enter x=2
Enter x=3
(1, 2, 3)

 a=("hello")
 list(a)

In [18]:
a=("hello") 
list(a)

['h', 'e', 'l', 'l', 'o']

In [19]:
#min() #max() #sum() #index()
a= (234,123,122,131)
print(min(a))
print(max(b))
print(sum(a))

122
6
610

In [23]:
a= (1,2,3)
b=list(a)
del b[0]
b

[2, 3]

In [24]:
a=tuple(b)
a

(2, 3)

In [26]:
a = (("ram",34,"jhapa"),
    ("shyam",23,"kathmandu"),
    ("hari",22,"morang"))
a

(('ram', 34, 'jhapa'), ('shyam', 23, 'kathmandu'), ('hari', 22, 'morang'))

In [ ]:
a=()
n= int(input("Enter = "))
for i in range(n):
    name=input()