In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\user\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [6]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="",
database = "python_4PM"
)
db = database.cursor()

In [7]:
#Read data form database
sql="SELECT * from student"
db.execute(sql)
result = db.fetchall()
print(result)

[(1, 'Aditya', 70, 80, 85, 70, 305, 77.0, 'b+'), (2, 'Rabin', 80, 85, 85, 90, 340, 85.0, 'A+')]

In [13]:
sql="SELECT SN,Name from student"
db.execute(sql)
result = db.fetchall()
print(result)

[(1, 'Aditya'), (2, 'Rabin')]

In [15]:
sql="SELECT * from student WHERE grade='A+'"
db.execute(sql)
result = db.fetchall()
print(result)

[(2, 'Rabin', 80, 85, 85, 90, 340, 85.0, 'A+')]

In [20]:
sql='''INSERT INTO `student` (`SN`, `Name`, `Physics`, `Nepali`, `Math`, `English`, `Total`, `Per`, `Grade`) 
VALUES ('5', 'hero', '70', '77', '87', '88', '80', '80', 'A');'''
db.execute(sql)
database.commit()

In [21]:
#WAP to take input from user and insert it into database

In [23]:
#update
sql="UPDATE student SET name='Adityagandu'WHERE name='Aditya'"
db.execute(sql)
database.commit()

In [24]:
#Delete
sql = "DELETE FROM student WHERE SN =4"
db.execute(sql)
database.commit()